{% extends 'base_name.html' %} {% block page_content %}

<!-- Start Section 1 -->
<div class="section">
  <div class="container is-96-128">
    <div class="flex-wrapper is-text-header">
      <h1 class="header is-centered">
        Redefining The <span class="text-blue500">Art</span> Of<span
          class="text-blue500"
        >
          Finding Products</span
        >
      </h1>
      <p class="paragraph is-centered">
        SpySales allows you to track sales of any shopify store or product
        listing by minute
      </p>
    </div>
    <div class="about-cover">
      <img
        src="https://global-uploads.webflow.com/613b798fc014efb31f8fcde3/621e437227f741d152e90463_about-cover.png"
        loading="lazy"
        srcset="
          https://global-uploads.webflow.com/613b798fc014efb31f8fcde3/621e437227f741d152e90463_about-cover-p-500.png   500w,
          https://global-uploads.webflow.com/613b798fc014efb31f8fcde3/621e437227f741d152e90463_about-cover-p-800.png   800w,
          https://global-uploads.webflow.com/613b798fc014efb31f8fcde3/621e437227f741d152e90463_about-cover-p-1080.png 1080w,
          https://global-uploads.webflow.com/613b798fc014efb31f8fcde3/621e437227f741d152e90463_about-cover-p-1600.png 1600w,
          https://global-uploads.webflow.com/613b798fc014efb31f8fcde3/621e437227f741d152e90463_about-cover-p-2000.png 2000w,
          https://global-uploads.webflow.com/613b798fc014efb31f8fcde3/621e437227f741d152e90463_about-cover.png        2432w
        "
        sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 1279px) 96vw, 1215.9942626953125px"
        alt=""
        class="about-cover-image"
      />
    </div>
    <div class="_2split-title is-textbox">
      <h1 class="heading-2">Our <span class="text-blue500">Mission</span></h1>
      <p class="paragraph-2">
        With the uprising growth of e-commerce, people are starting e-commerce
        businesses more than ever. We aim to build proper solutions to enable
        everyone to capitalize on the opportunity.
      </p>
    </div>
    <div class="alternate-grid-wrapper">
      <div class="w-layout-grid _2split-grid is-flipped">
        <div class="grid-image-wrapper is-about">
          <img
            src="https://global-uploads.webflow.com/613b798fc014efb31f8fcde3/621e43a32b0b15c6da3ce84c_image.png"
            loading="lazy"
            srcset="
              https://global-uploads.webflow.com/613b798fc014efb31f8fcde3/621e43a32b0b15c6da3ce84c_image-p-500.png 500w,
              https://global-uploads.webflow.com/613b798fc014efb31f8fcde3/621e43a32b0b15c6da3ce84c_image.png       592w
            "
            sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 520px, 591.9885864257812px"
            alt=""
            class="grid-image is-about"
          />
        </div>
        <div class="flex-wrapper is-grid-content">
          <h3>Why We Built SpySales</h3>
          <img
            src="https://global-uploads.webflow.com/613b798fc014efb31f8fcde3/629fa2aef5f9a776946eee07_underline-blue-squiggly.svg"
            loading="lazy"
            alt=""
            class="underline-squiggly"
          />
          <p class="paragraph is-large-switch">
            Founded in 2020 by brothers Nawras Ganim and Josef Ganim, they
            recognized the struggle store owners have with finding profitable
            products to sell online and are currently seeking to improve that
            process.
          </p>
        </div>
      </div>
      <div class="w-layout-grid _2split-grid">
        <div
          id="w-node-e650984b-52df-aebb-1d4b-8bf9d0d3f9a5-8766ccfc"
          class="grid-image-wrapper is-about"
        >
          <img
            src="https://global-uploads.webflow.com/613b798fc014efb31f8fcde3/621e43b6875e2b5204ff2590_image.png"
            loading="lazy"
            srcset="
              https://global-uploads.webflow.com/613b798fc014efb31f8fcde3/621e43b6875e2b5204ff2590_image-p-500.png 500w,
              https://global-uploads.webflow.com/613b798fc014efb31f8fcde3/621e43b6875e2b5204ff2590_image.png       592w
            "
            sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 46vw, 488.0113525390625px"
            alt=""
            class="grid-image is-about"
          />
        </div>
        <div class="flex-wrapper is-grid-content">
          <h3>Long Term Vision</h3>
          <img
            src="https://global-uploads.webflow.com/613b798fc014efb31f8fcde3/629fa2aef5f9a776946eee07_underline-blue-squiggly.svg"
            loading="lazy"
            alt=""
            class="underline-squiggly"
          />
          <p class="paragraph is-large-switch">
            Develop more complex solutions that will detect new and upcoming
            products from more platforms and channels, aiming to become the
            go-to platform for e-commerce store owners seeking to expand their
            product catalogs.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="featured-wrapper w-dyn-list">
    <div role="list" class="w-dyn-items">
      <div role="listitem" class="w-dyn-item">
        <div class="section is-featured">
          <div class="container is-featured">
            <div class="featured-content">
              <p class="title1 is-top">SpySales in the News</p>
              <h3 class="featured-header">
                SpySales’s Practical and Innovative Research Solutions Are
                Rapidly Gaining Traction in the e-Commerce Sector
              </h3>
              <img
                src="https://global-uploads.webflow.com/613b798fc014efb31f8fcde3/613b798fc014ef46608fce51_swiggly-64.svg"
                loading="lazy"
                alt=""
                class="underline-squiggly"
              />
              <p class="paragraph is-featured-summary">
                The e-commerce industry is worth billions of dollars, and it is
                only growing more successful by the minute. In such cut-throat
                competition, it becomes imperative to keep on top of customer
                expectations, and set and maintain high standards for a company.
                In an effort to work side by side with businesses and improve
                their performance, brothers Josef and Nawras Ganim are working
                on a start-up SpySales, and it will be making waves in the
                e-commerce industry.
              </p>
              <a href="#" class="button is-read-more w-inline-block">
                <div class="button-text">Read More</div>
                <div class="glow"></div>
              </a>
            </div>
          </div>
          <div
            style="
              background-image: url('https://global-uploads.webflow.com/613b798fc014efd9cb8fce0a/613b798fc014ef55fc8fce8c_placeholder-2.png');
            "
            class="featured-image"
          >
            <div class="gradient-overlay"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Section 1 -->
<!-- Start Section 2 -->
<div class="section is-128-top">
  <div class="flex-wrapper is-text-header">
    <h1 class="header is-centered">
      Our <span class="text-blue500">Journey </span>So Far
    </h1>
    <p class="paragraph is-centered">
      Here is a recap of what we have done since SpySales was founded.
    </p>
  </div>
  <div class="section is-image-scroll">
    <div class="image-scroll-master-wrapper">
      <img
        src="https://global-uploads.webflow.com/613b798fc014efb31f8fcde3/621e44a4875e2b2514ff2a14_yellow-and-blue-pattern.svg"
        loading="lazy"
        alt=""
        class="jouney-patterns-image"
      />
      <div
        data-w-id="88a45827-0808-b821-5a5b-530e4f360819"
        class="milestone-wrapper is-1"
      >
        <div class="milestone-circle"></div>
        <div class="tooltip-wrapper">
          <h3 class="milestone-date">Sep 2020</h3>
          <div class="tip"></div>
          <div class="milestone-title">MVP Creation</div>
          <div
            data-w-id="6b673c46-b161-3c53-b262-25e80ebe0761"
            class="milestone-p"
          >
            <p class="paragraph-3">
              The Minimum Viable Product (MVP) concept was created to validate
              the initial idea for the market.
            </p>
          </div>
        </div>
      </div>
      <div
        data-w-id="f9b2eb6a-fe96-51b9-a147-b4c5a92f3123"
        class="milestone-wrapper is-2"
      >
        <div class="milestone-circle is-2"></div>
        <div class="tooltip-wrapper is-2">
          <h3 class="milestone-date is-2">Jun 2020</h3>
          <div class="tip is-2"></div>
          <div class="milestone-title is-2">Founded</div>
          <div class="milestone-p is-2">
            <p class="paragraph-3">
              An idea was born, SpySales founded; our founders Nawras Ganim and
              Josef Ganim.
            </p>
          </div>
        </div>
      </div>
      <div
        data-w-id="38408d19-107f-1818-9d1a-eae8f11e23dd"
        class="milestone-wrapper is-3"
      >
        <div class="milestone-circle is-3"></div>
        <div class="tooltip-wrapper is-3">
          <h3 class="milestone-date">Nov 2020</h3>
          <div class="tip is-3"></div>
          <div class="milestone-title">Design</div>
          <div
            style="
              -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
                rotateY(0) rotateZ(0) skew(0, 0);
              transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
                rotateY(0) rotateZ(0) skew(0, 0);
              width: 140px;
              height: 0px;
              opacity: 0;
            "
            class="milestone-p"
          >
            <p class="paragraph-3">
              The design team started developing the Brand Identity and User
              Interface.
            </p>
          </div>
        </div>
      </div>
      <div
        data-w-id="16f28132-9233-19cf-0e81-017822c3176d"
        class="milestone-wrapper is-4"
      >
        <div class="milestone-circle is-3"></div>
        <div class="tooltip-wrapper is-4">
          <h3 class="milestone-date">Dec 2021</h3>
          <div class="milestone-title">Coming To Life</div>
          <div class="tip is-4"></div>
          <div
            style="
              -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
                rotateY(0) rotateZ(0) skew(0, 0);
              transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
                rotateY(0) rotateZ(0) skew(0, 0);
              width: 140px;
              height: 0px;
              opacity: 0;
            "
            class="milestone-p"
          >
            <p class="paragraph-3">
              SpySales is in full development mode with new tools and features
              being released regularly.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="html-embed w-embed">
      <style>
        /*.tooltip-wrapper, .tip {
            border-color: inherit;
        }

        /*.tooltip-wrapper{
            pointer-events: none;
        }
      </style>
    </div>
  </div>
</div>
<!-- End Section 2 -->

<!-- Start Section 3 -->
<div class="section is-dark">
  <div class="container is-120">
    <div class="flex-wrapper is-text-header no-max-width">
      <h1 class="text-neutral-200 is-center-switch">
        A Small Team Doing Big Things
      </h1>
      <div class="w-layout-grid _3split-grid is-home-stats">
        <div
          id="w-node-_7083765f-9647-55aa-a6a6-5484d8df171d-8766ccfc"
          class="flex-wrapper"
        >
          <div class="flex-wrapper is-horizontal-auto">
            <h2 class="text-neutral-200">2020</h2>
          </div>
          <img
            src="https://global-uploads.webflow.com/613b798fc014efb31f8fcde3/629fa2aef5f9a776946eee07_underline-blue-squiggly.svg"
            loading="lazy"
            alt=""
            class="card-sqiggly is-24"
          />
          <div class="text-large">Year Founded</div>
        </div>
        <div
          id="w-node-_7083765f-9647-55aa-a6a6-5484d8df1724-8766ccfc"
          class="flex-wrapper"
        >
          <div class="flex-wrapper is-horizontal-auto">
            <h2 class="text-neutral-200 _1-space">15+</h2>
          </div>
          <img
            src="https://global-uploads.webflow.com/613b798fc014efb31f8fcde3/629fa2aef5f9a776946eee07_underline-blue-squiggly.svg"
            loading="lazy"
            alt=""
            class="card-sqiggly is-24"
          />
          <div class="text-large">Happy Employees</div>
        </div>
        <div
          id="w-node-_7083765f-9647-55aa-a6a6-5484d8df172d-8766ccfc"
          class="flex-wrapper"
        >
          <div class="flex-wrapper is-horizontal-auto">
            <h2 class="text-neutral-200">6</h2>
          </div>
          <img
            src="https://global-uploads.webflow.com/613b798fc014efb31f8fcde3/629fa2aef5f9a776946eee07_underline-blue-squiggly.svg"
            loading="lazy"
            alt=""
            class="card-sqiggly is-24"
          />
          <div class="text-large">Countries</div>
        </div>
      </div>
    </div>
    <div id="tricksnext" class="scroll-trigger"></div>
    <div class="w-embed">
      <style>
        .number-grp p {
          font: inherit;
          color: inherit;
          width: auto;
          display: table;
          font-size: inherit;
          line-height: inherit;
          font-weight: inherit;
          letter-spacing: inherit;
        }
      </style>
    </div>
    <div class="reloaddouble2"></div>
  </div>
</div>
<!-- End Section 3 -->
<!-- Start Section 4 -->
<div class="section">
  <div class="container is-120">
    <div class="flex-wrapper is-text-header">
      <h1 class="header is-centered">
        Brand <span class="text-span-11">Assets</span
        ><span class="text-blue500"></span>
      </h1>
      <p class="paragraph is-centered">Access SpySales&#x27;s logo files.</p>
    </div>
    <div class="w-layout-grid _2split-grid is-brand-assets">
      <div class="flex-wraapper is-brand-assets">
        <div class="_2split-grid is-brand-split">
          <img
            src="https://global-uploads.webflow.com/613b798fc014efb31f8fcde3/621e31db35f85c89a60fa1c3_logomark.svg"
            loading="lazy"
            id="w-node-_0cca27a0-4922-c9a4-df56-4b2b7b77d56e-8766ccfc"
            alt=""
            class="logomark large"
          />
          <div
            id="w-node-_13ddeefe-e863-046a-68aa-b2272e6aacd1-8766ccfc"
            class="flex-wrapper"
          >
            <h3 class="_24-bm">Logomark</h3>
            <p class="paragraph is-centered">
              The logomark is our standard way to represent the SpySales
              identity.
            </p>
          </div>
          <img
            src="https://global-uploads.webflow.com/613b798fc014efb31f8fcde3/621e454e8a831e8eba897263_logomar-in-blue-background.svg"
            loading="lazy"
            id="w-node-bc43d1e7-42d6-9968-abc5-3884a4d173b2-8766ccfc"
            alt=""
            class="brand-asset"
          />
          <img
            src="https://global-uploads.webflow.com/613b798fc014efb31f8fcde3/621e4557c3e0db45290d92a7_logomark-in-white-background.svg"
            loading="lazy"
            id="w-node-_3336dd2c-6cec-56c9-01c7-d5f864b35af8-8766ccfc"
            alt=""
            class="brand-asset"
          />
        </div>
      </div>
      <div class="flex-wraapper is-brand-assets">
        <div class="_2split-grid is-brand-split">
          <div
            id="w-node-_70035f85-ae6e-7166-4684-e810338028a9-8766ccfc"
            class="flex-wrapper"
          >
            <h3 class="_24-bm">Wordmark</h3>
            <p class="paragraph is-centered">
              The wordmark is mainly used in combination with the logomark. It
              can also be used to represent SpySales.
            </p>
          </div>
          <div
            id="w-node-e9e3087b-c5f4-a73b-5ccd-88472030924d-8766ccfc"
            class="flex-wrapper is-mark"
          >
            <img
              src="images/AboutSpysales.png"
              loading="lazy"
              alt=""
              class="logomark"
            />
          </div>
          <img
            src="images/svgexport-1 (9).png"
            loading="lazy"
            id="w-node-_70035f85-ae6e-7166-4684-e810338028a7-8766ccfc"
            alt=""
            class="brand-asset"
          />
          <img
            src="images/svgexport-1 (10).png"
            loading="lazy"
            id="w-node-_70035f85-ae6e-7166-4684-e810338028a8-8766ccfc"
            alt=""
            class="brand-asset"
          />
        </div>
      </div>
    </div>
    <a
      href="https://drive.google.com/uc?export=download&amp;id=17CRuTN8qsO4nsK8LOiePr5IMys1Tb3hv"
      class="button is-brand-asssets w-inline-block"
    >
      <div class="button-text">Download Brand Assets</div>
      <div class="glow"></div>
    </a>
  </div>
</div>
<!-- End Section 4 -->

<!-- Start Section 5 -->
<div class="section is-newsletter">
  <div class="container is-newsletter">
    <div class="w-layout-grid _2split-grid is-newsletter">
      <div class="flex-wrapper is-newsletter-content">
        <h1 class="cta-title">Any Questions?<br />Get In Touch With Us</h1>
        <img
          src="https://global-uploads.webflow.com/613b798fc014efb31f8fcde3/629fa2aef5f9a776946eee07_underline-blue-squiggly.svg"
          loading="lazy"
          alt=""
          class="card-sqiggly"
        />
        <p class="text-med">
          If you have any questions or concerns, get in touch with our support
          department, we reply within 24 hours.
        </p>
        <div class="button-wrapper top-48">
          <a href="/contact" class="button is-contact w-inline-block">
            <div class="button-text">Contact Support</div>
            <div class="glow"></div>
          </a>
        </div>
      </div>
      <div
        id="w-node-_3d1b540e-1413-784c-e07b-eda719ebbcd1-19ebbcbf"
        class="mail-box-wrapper"
      >
        <img
          src="https://global-uploads.webflow.com/613b798fc014efb31f8fcde3/621f68c6f559eb15ecf1ca8a_mailbox.svg"
          loading="lazy"
          alt=""
          class="mail-box"
        />
      </div>
    </div>
  </div>
</div>
<!-- End Section 5 -->

{% endblock page_content %}
