

*{
    font-family: 'Maven Pro', sans-serif;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    
}


.bg{
    background-color: rgb(42, 118, 118);
}
.card{
    width: 50%
}
._8nqq{
    border-radius: 40%;
}
.x14vqqas,.xyz{
    opacity: 0.5;
    font-size: 0.8em;
}
.xtwfq29{
    display: block;
}
.xz62fqu{
    width:100%;
    padding: 5% 0;
}
